
$effixis-scampi: #66589F;
$effixis-steel-blue: #3F7DBE;
$effixis-astronaut: #243565;
$effixis-black: #050606;

$font-family-sans-serif: Inter, sans-serif;

$theme-colors: (
    "primary": $effixis-scampi,
    "secondary": $effixis-steel-blue
);

.bg-steel-blue {
    background-color: $effixis-steel-blue;
}

.bg-scampi {
    background-color: $effixis-scampi;
}

.bg-astronaut {
    background-color: $effixis-astronaut;
}

.bg-black {
    background-color: $effixis-black;
}

@import "../node_modules/bootstrap/scss/bootstrap";
