@import 'effixis';

.overflow-show {
    overflow: show;
}

.design-line {
    height: 8px;
    width: 60px;
    background: linear-gradient(90deg, $effixis-scampi 0%, $effixis-steel-blue 100%);
    border-radius: 4px;
    display: inline-block;
}

.btn-effixis {
    color: $white;
    background: linear-gradient(90deg, $effixis-scampi 0%, $effixis-steel-blue 100%);
    background-repeat: repeat-x;
}

.large-container {
    max-width: min(80%, 1800px);
}

.btn {
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

#header {

    .navbar-brand {
        max-width: 50% !important;
    }

    .header-logo {
        height: 40px;
    }

    #header-container {
        position: relative;
    }

    #catchline {
        padding-top: 180px;
        padding-bottom: 160px;
    }
    
    #header-big-logo {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        right: 0;
        bottom: -100px;
        height: 450px;
        max-width: 60%;
    }

    #cleo-big-logo {
        position: absolute;
        right: 0;
        max-height: 500px;
        bottom: -100px;
        width: auto;
        max-width: 60%;
        z-index: 1;
    }

    .custom-shape-divider {
        width: 100%;
        line-height: 0;
        transform: rotate(180deg); 

        svg {
            width: calc(100% + 1.3px);
            height: 120px;
            transform: rotateY(180deg); 
            z-index: -1;

            .shape-fill-light {
                fill: $effixis-light;
            }

            .shape-fill-white {
                fill: white;
            }
        }
    }

    #big-ampersand {
        color: white;
        font-size: 200px;
        margin-bottom: -90px;
        text-align: center;
        line-height: 1;
    }
}

#mission {
    #switzerland-img-container {
        #img-switzerland {
            width: calc(100% + 180px);
            margin-left: -180px;
        }
    }
}

#smart-group {
    overflow: hidden;

    #sst-on-demand {
        overflow: visible;
    
        #sst-on-demand-iphone-chat {
            overflow: visible;
    
            img {
                width: calc(100% + 180px);
                margin-left: -20px;
                margin-right: -180px;
                margin-top: -200px;
                margin-bottom: -280px;
            }
        }
    }
}

#partners {
    #azenes, #volada {
        height: 100px;
    }
}

.standard-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.standard-icon {
    height: 100px;
}

#track-record {
    padding-bottom: 0;
}

#comparison {
    padding-bottom: 200px;

    #vendors-cons-container {
        padding-top: 60px;
        padding-bottom: 60px;
        border-radius: 0 9999px 9999px 0;
    }

    #vendors-cons {
        max-width: 500px;
        margin-right: 10%;
    }

    #effixis-pros-container {
        padding-top: 60px;
        padding-bottom: 60px;
        border-radius: 9999px 0 0 9999px;
    }

    #effixis-pros {
        max-width: 500px;
        margin-left: 10%;
    }
}

#team {
    .team-member-picture {
        width: 100%;
    }
}

#footer {
    .footer-icon {
        width: 24px;
        margin-right: 12px;
        color: $effixis-scampi;
    }
}

