
$effixis-scampi: #66589F;
$effixis-steel-blue: #3F7DBE;
$effixis-astronaut: #243565;
$effixis-black: #050606;
$effixis-light: #EEF0F3;

:export {
    effixisScampi: $effixis-scampi;
    effixisSteelBlue: $effixis-steel-blue;
    effixisAstronaut: $effixis-astronaut;
}